<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Darksouls 3</title>
        <style>

        #banner(example){
        width:500px;
        margin:auto;
        border: red 2px dashed;
        text-align:center;
        background-color:salmon;
        }
    #nav{
        white-space: nowrap;
        text-align: center;
        }
        
        </style>
    </head>
    <body>
        <div id="banner"></div>
        <div id="nav">
            <a href="">link 1</a>
            <a href="">link 2</a>
            <a href="">link 3</a>
            <a href="">link 4</a>
            <a href="">link 5</a>
        </div>
        <div id="wrapper">
               <div id="main"></div>
               <div id="side"></div>
        </div>
        <div id="footer">© 2017 Jabari Crawford</div>
    </body>
</html>